
<div style="display: flex;">
        
    <div class="formDesign" style="width: 50%; height: 100vh; display: flex; align-items: center; justify-content: flex-end;">
        <div id="cover">
            <div id="form-ui">
                <form [formGroup]="loginForm" (ngSubmit)="login()">
                    <div id="form-body">
                        <div class="text-6xl font-bold leading-none text-blue text-center">
                            <div>Bienvenido</div>
                        </div>
                        <mat-form-field appearance="outline" style="margin-top: 35px;">
                            <mat-label>Correo</mat-label>
                            <input matInput placeholder="Correo" formControlName="correo" required autocomplete="off">
                        </mat-form-field>

                        <mat-form-field appearance="outline" style="margin-top: 35px;">
                            <mat-label>Contraseña</mat-label>
                            <input matInput [type]="hide ? 'password' : 'text'" placeholder="Contraseña"
                                formControlName="contrasenya" required autocomplete="off">
                            <button type="button" mat-icon-button matSuffix (click)="hide = !hide"
                                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                        </mat-form-field>

                        <div class="text-center mt-4" *ngIf="!cargando">
                            <button type="submit" class="button-login text-center btnLogin"
                                mat-raised-button>Iniciar Sesión</button>
                        </div>

                       

                    </div>
                </form>
                <!-- <div style="display: flex; justify-content: center; align-items: center;" id="img-box">
                    <img src="./assets/images/undraw_All_the_data_re_hh4w.svg" alt="UI Image" class="img-fluid">
                </div> -->
            </div>
        </div>
    </div>
    <div class="design" style="width: 50%;">
        <div
            class="relative hidden mdflex flex-auto items-center h-full justify-center p-16 lgpx-28 overflow-hidden bg-gray-800">
            <svg class="absolute inset-0 pointer-events-none" viewBox="0 0 960 540" width="100%" height="100%"
                preserveAspectRatio="xMidYMax slice" xmlns="http://www.w3.org/2000/svg">
                <g class="text-gray-700 opacity-25" fill="none" stroke="currentColor" stroke-width="100">
                    <circle r="234" cx="196" cy="23"></circle>
                    <circle r="234" cx="790" cy="491"></circle>
                </g>
            </svg>
            <svg class="absolute -top-16 -right-16 text-gray-700" viewBox="0 0 220 192" width="220" height="192"
                fill="none">
                <defs>
                    <pattern id="837c3e70-6c3a-44e6-8854-cc48c737b659" x="0" y="0" width="20" height="20"
                        patternUnits="userSpaceOnUse">
                        <rect x="0" y="0" width="4" height="4" fill="currentColor"></rect>
                    </pattern>
                </defs>
                <rect width="220" height="192" fill="url(#837c3e70-6c3a-44e6-8854-cc48c737b659)"></rect>
            </svg>
            
            <div class="z-10 relative w-full max-w-2xl">
                <div class="text-7xl font-bold leading-none text-gray-100">
                    <div>INNPACTIA</div>
                </div>
                <!-- <div class="text-5xl font-bold leading-none text-gray-400">
                    <div>Elecciones                                                                                         estudiantiles 2021</div>
                </div> -->
                
                <!-- <div class="mt-6 text-lg tracking-tight leading-6 text-gray-400">
                    Sistema monitoreo de elecciones estudiantiles 2021
                </div> -->
               
            </div>
        </div>
    </div>
</div>